body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#ededed
}
::selection{
    background-color: #0f6e34;
    color: #fff
}

header {
    background-color: #0f9e46;
    color: #fff;
    padding: 20px;
    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0PX;
    display: flex;
}
nav li {
    margin-right: 20px  ;   
}

a{
    display:block;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    width: 150px;  
    margin: 0 ;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-container{
    position: absolute;
    margin-top: 100px;
    left: 30%;
    align-items: center;
   background-color: white;
   padding: 50px;
   border-radius: 10PX;
   box-shadow: 0px 0px 10px black;
   width: 700px;
}
.form-container h1{
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
    color:#444
}
.form-container label{
    display:block;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color:#444;
}
.form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container input[type="number"],
  .form-container input[type="date"],
  .form-container input[type="time"],
  .form-container textarea,
  .form-container select {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #444;
    background-color: #f2f2f2;
  }
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
  .form-container input[type="password"]:focus,
  .form-container input[type="number"]:focus,
  .form-container input[type="date"]:focus,
  .form-container input[type="time"]:focus,
  .form-container textarea:focus,
  .form-container select:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra aplicada quando está focado */
    background-color: #fff;
  }
  .form-container button[type="submit"] {
    background-color: #2196f3;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Segoe UI';
  }
  .form-container button[type="submit"]:hover {
    background-color: #0d8bf2;
    }
    
    /* Estilo para as mensagens de erro */
    .form-container .error {
    color: red;
    margin-bottom: 10px;
    }
    .form-container .success {
        color: green;
        margin-bottom: 10px;
        }
        
        /* Estilo para o link "Esqueceu a senha?" */
        .form-container a {
        display: block;
        margin-top: 10px;
        color: #444;
        text-align: right;
        text-decoration: none;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
        }
        
        /* Estilo para o link "Esqueceu a senha?" quando está hover */
        .form-container a:hover {
        color: #2196f3;
        }
        
        /* Estilo para o ícone de mensagem de erro */
        .form-container .error-icon {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        }
        
        /* Estilo para o ícone de mensagem de sucesso */
        .form-container .success-icon {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        }
        
        /* Estilo para o ícone de entrada válida */
        .form-container .valid-icon {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        color: green;
        }
        footer{
            background-color: #0f6e34   ;
            color: #fff;
            height: 130px;
            margin-top: 800px;
            text-align: center;
        }
        footer h2{
            color: rgb(255, 255, 255);
            font-size: 20px;
            text-align:center;
        }
        footer p{
            color: #0f9e46;
        }